html[cross-browser] {
  body {
    main[data-layout="main"][role="main"] {
      .__container.forgot_password {
        padding: 0px 10px;
        width: 100%;
        height: auto;
        justify-content: space-evenly;

        header {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 35px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: clamp(5.625rem, 3.0531rem + 13.7168vw, 25rem);
              max-width: 400px;
            }
          }
        }

        .form_controller {
          max-width: 500px;
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 0px clamp(0.625rem, 0.0463rem + 3.0864vw, 3.75rem);
          margin-top: 55px;
          margin-bottom: 55px;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px var(--palette-second) solid;
            width: calc(20px + 100% + 20px);
            height: calc(20px + 100% + 20px);
            box-shadow: 0px 0px 20px 5px #dd92d775;
            border-radius: 15px;
          }

          .description {
            z-index: 2;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              bottom: -15px;
              width: 90%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 1px;
              border-radius: 10px;
              background: var(--palette-custom);
            }

            h2 {
              text-align: center;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: normal;
              font-family: 'Motserrat__static', sans-serif;
              position: relative;
              margin-top: 75px;
              margin-bottom: 35px;

              &::after {
                content: "";
                position: absolute;
                top: -100%;
                left: 50%;
                transform: translate(-50%, -75%);
                transition: var(--transition-time);
                background-color: var(--palette-acient);
                mask: url(../../../assets/icon/restore.password.webp) center/cover no-repeat;
                -webkit-mask: url(../../../assets/icon/restore.password.webp) center/cover no-repeat;
                width: 65px;
                height: 65px;
              }

              &::before {
                content: "Введите адрес электронной почты, указанный при регистрации, и мы отправим вам ссылку для сброса пароля.";
                font-size: var(--fs-small);
                width: 100%;
                opacity: 0.6;
                position: absolute;
                bottom: -100%;
                left: 50%;
                transform: translate(-50%, 25%);
                transition: var(--transition-time);
                color: var(--palette-text-inv);
              }
            }
          }

          .error_message_form {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
            width: 100%;
            color: var(--error-message-form);
            font-weight: 600;
            z-index: 2;
            margin-top: 15px;

            ul {
              text-decoration: none;

              li {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                width: 100%;
                color: var(--error-message-form);
                font-weight: 600;
                z-index: 2;
                margin-top: 15px;
              }
            }
          }

          .input_block {
            margin-bottom: 10px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            width: 100%;

            .not_margin_top {
              margin-top: 0;
            }

            div {
              display: flex;
              margin: 5px 0px;
              flex-direction: column;
              align-items: stretch;

              span {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                width: 100%;
                color: var(--error-message-form);
                font-weight: normal;
                margin-bottom: 2.5px;
              }

              label {
                color: var(--palette-text-inv);
                opacity: 1;
                transform: translate(5px);
                font-size: calc(0.8 * var(--fs-h3));
                font-weight: 600;
              }

              input[type="password"],
              input[type="text"],
              input[type="email"] {
                display: flex;
                justify-content: center;
                align-items: stretch;
                width: 100%;
                padding: 10px 15px;
                border-radius: 8px;
                border: var(--palette-acient) 2px solid;
                background: var(--palette-main);
                color: var(--palette-text-inv);
                transition: .3s ease;
                font-weight: 600;
                opacity: 0.7;
                font-size: var(--fs-h3);
                cursor: pointer;

                &:focus {
                  cursor: text;
                  opacity: 1;
                  box-shadow: 0px 0px 10px 1px var(--palette-custom);
                }
              }

              input.hover {
                opacity: 1;
              }
            }

            .cb-container {
              margin-top: 7px;

              label {
                transform: translateX(0px);
                display: flex;
                align-items: center;
                flex-direction: row;
                word-spacing: nowrap;

                span {
                  color: var(--palette-text-inv);
                  margin-left: 10px;
                  display: block;
                  margin-bottom: 0;
                  opacity: 0.7;
                  transition: var(--transition-time);
                }

                a {
                  opacity: 1;
                  display: inline;
                  word-spacing: nowrap;
                  font-size: var(--fs-p);
                }

                input[type="checkbox"] {
                  width: calc(1.1 * var(--fs-btn));
                  height: calc(1.1 * var(--fs-btn));
                  cursor: pointer;
                }

                input[type="checkbox"].hover {
                  background: var(--palette-acient);
                  opacity: 1;
                }
              }

              label.hover {
                span {
                  opacity: 1;
                }
              }
            }
          }

          button[type="submit"] {
            margin-top: 1px;
            z-index: 2;
          }

          .back_to_login-block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            z-index: 2;
            margin-top: 15px;
            gap: 10px;
          }
        }

        .form_controller.hover {
          & .description {
            & h2 {
              &::after {
                transform: translate(-50%, -80%);
                background-color: var(--palette-custom);
              }

              &::before {
                opacity: 0.9;
              }
            }
          }
        }

        .js-window[js-window-restore-password] {
          --color-forgot-form-async: #1E7F34;
          position: fixed;
          inset: 0;
          background: #00000045;
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: var(--transition-time);

          .description {
            z-index: 4;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-inline: 70px;
            padding-top: 105px;
            padding-bottom: 37.5px;
            background: var(--palette-main);
            transition: var(--transition-time);
            border-radius: 15px;
            border: var(--color-forgot-form-async) 2px solid;

            h2 {
              font-size: var(--fs-h2);
              color: var(--color-forgot-form-async);
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: var(--transition-time);

              &::after {
                content: "";
                position: absolute;
                top: -100%;
                left: 50%;
                transform: translate(-50%, -75%);
                transition: var(--transition-time);
                background-color: var(--color-forgot-form-async);
                mask: url(../../../assets/icon/message.sent.svg) center / cover no-repeat;
                width: 67px;
                height: 65px;
              }

              &::before {
                content: "Пожалуйста, проверьте свой почтовый ящик (и папку со спамом)";
                position: absolute;
                bottom: -100%;
                left: 50%;
                transform: translate(-50%, 75%);
                transition: var(--transition-time);
                color: var(--palette-text-inv);
                opacity: 0.8;
                text-align: center;
                font-weight: normal;
                font-size: var(--fs-small);
                width: 100%;
              }
            }

            [data-style="hyper-button"] {
              margin-top: 75px;

              span {
                z-index: 5;
              }
            }

          }

          .description.hover {
            box-shadow: 0px 0px 20px 1px var(--color-forgot-form-async);
            --color-forgot-form-async: #2ECC71;
          }
        }

        .js-window[js-window-restore-password].hidden {
          opacity: 0;
          visibility: hidden;
        }

        .js-window[js-window-restore-password].visible {
          opacity: 1;
          visibility: visible;
        }

        footer {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 35px;
          justify-content: center;
          align-items: center;
          margin-bottom: 35px;

          section {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {
              flex-wrap: wrap;
              gap: 25px;
            }

            &:nth-child(2) {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 592px) {
  html[cross-browser] {
    & body {
      & main[data-layout="main"][role="main"] {
        & .__container.forgot_password {
          & .form_controller {
            .description {
              padding: 0px 25px 0px 15px;

              &::before {
                width: 100%;
              }
            }

            &::after {
              width: calc(20px + 90% + 20px);
            }

            .input_block {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}