html[cross-browser] {
  main[data-layout="main"][role="main"] {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    min-height: 100vh;
    position: relative;

    header.webapp-nav {
      position: absolute;
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      background: linear-gradient(45deg, #9780e515, #da6ad015);

      .__container {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        padding: 10px 0px;
        gap: 0 !important;

        .left {
          display: flex;
          height: 100%;
          position: relative;
          justify-content: center;
          align-items: center;
          gap: 10px;

          [banner-CS] {
            background-image: url(../../../assets/icon/logo-banner.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 48px;
            width: 52px;
            transition: .3s ease;
            transform: translateY(0);
            z-index: 3;
          }

          [banner-CS].hover {
            transform: translateY(-3px);
          }

          button {
            position: relative;
            display: flex;
            background: none;
            color: var(--palette-text-shadow);
            font-size: calc(var(--fs-btn) * 1.2);
            border: none;
            transition: .3s ease;
            z-index: 3;
            font-weight: 600;
            margin-left: 5px;

            &::after {
              content: "›";
              font-size: var(--fs-h3);
              margin-left: 7px;
              transition: .3s ease;
              transform: translateY(0) rotate(90deg);
              display: block;
            }
          }

          button.hover {
            color: var(--palette-text-inv);
          }
        }

        .mobile {
          display: none;
          justify-content: center;
          align-items: center;

          * {
            font-family: 'Jost__static', sans-serif;
          }

          aside[menu-mobile] {
            position: fixed;
            max-width: 560px;
            width: 65vw;
            min-width: 300px;
            height: calc(100% - 37px - 37px - 68px);
            background: var(--palette-main);
            z-index: 12;
            top: calc(50% + 34px);
            transform: translateY(-50%);
            transition: .4s ease;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-width: 2px;
            border-bottom: solid;
            border-right: solid;
            border-top: solid;
            border-color: var(--palette-second);
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--palette-second) transparent;

            &::-webkit-scrollbar {
              width: 2px;
            }

            &::-webkit-scrollbar-button {
              display: none !important;
            }

            p {
              text-align: center;
              font-size: var(--fs-h2);
              font-weight: normal;
              margin-bottom: 10px;
            }

            .close-menu-btn {
              position: absolute;
              width: var(--fs-h1);
              height: var(--fs-h1);
              background: none;
              border: none;
              top: calc(5px + calc(var(--fs-h2) / 2));
              right: 10px;

              &::after,
              &::before {
                content: "";
                position: absolute;
                width: var(--fs-h1);
                height: 3px;
                background: var(--palette-acient);
                border-radius: 8px;
                top: 50%;
                left: 50%;
              }

              &::after {
                transform: translate(-50%, -50%) rotate(45deg);
              }

              &::before {
                transform: translate(-50%, -50%) rotate(-45deg);
              }
            }

            .local-btn {
              background: none;
              border: none;
              display: inline-flex;
              padding: 10px 10px 10px 10px;
              font-weight: 400;
              background: transparent;
              color: var(--palette-text-inv);
              font-size: var(--fs-h2);
              transition: .3s ease;
              position: relative;
              --async-color-border: var(--palette-text-inv);

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
                height: 100%;
                border-top: var(--async-color-border) 2px solid;
                border-bottom: var(--async-color-border) 2px solid;
                border-right: 0px;
                border-left: 0px;
              }

              &::before {
                content: "›";
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                font-size: var(--fs-h2);
                transition: .3s ease;
              }

              &:nth-child(5) {
                &::after {
                  border-top: var(--async-color-border) 0px solid;
                }
              }

              &:nth-child(7) {
                &::after {
                  border-top: var(--async-color-border) 0px solid;
                }
              }
            }

            .local-btn.hover {
              font-weight: 700;
              color: var(--palette-acient);
              padding: 10px 10px 10px 40px;
              background: #fff;

              &:nth-child(5) {
                &::after {
                  border-top: var(--async-color-border) 0px solid;
                }
              }

              &:nth-child(7) {
                &::after {
                  border-top: var(--async-color-border) 0px solid;
                }
              }
            }

            .local-btn:focus {
              --async-color-border: var(--palette-acient);
              font-weight: 700;
              color: var(--palette-acient);
              padding: 10px 10px 10px 40px;
              background: #fff;

              &::before {
                transform: translateY(-50%) rotate(-90deg);
              }

              &:nth-child(5) {
                &::after {
                  border-top: var(--async-color-border) 2px solid;
                }
              }

              &:nth-child(7) {
                &::after {
                  border-top: var(--async-color-border) 2px solid;
                }
              }
            }

            .local-btn.active {
              --async-color-border: var(--palette-acient);
              font-weight: 700;
              color: var(--palette-acient);
              padding: 10px 10px 10px 40px;
              background: #fff;

              &::before {
                transform: translateY(-50%) rotate(-90deg);
              }

              &:nth-child(5) {
                &::after {
                  border-top: var(--async-color-border) 2px solid;
                }
              }

              &:nth-child(7) {
                &::after {
                  border-top: var(--async-color-border) 2px solid;
                }
              }
            }

            .menu {
              display: flex;
              flex-direction: column;
              width: 100%;
              transition: .4s ease;

              a {
                background: none;
                border: none;
                display: inline-flex;
                padding: 10px 10px 10px 10px;
                font-weight: 200;
                color: var(--palette-text-inv);
                font-size: var(--fs-h2);
                transition: .3s ease;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  width: calc(100% - 10px);
                  height: 1px;
                  background: var(--palette-text-inv);
                  opacity: 0.5;
                }

                &:last-child {
                  &::after {
                    display: none;
                  }
                }
              }

              a.hover {
                font-weight: 700;
                color: var(--palette-acient);
                padding: 10px 10px 10px 40px;
                background: #f5f5f5d8;
              }
            }

            .menu.hidden {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
              height: 0;
            }

            .menu.visible {
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
              height: fit-content;
            }

            [js-menu-socials] {
              a[el="icon-youtube"] {
                &::after {
                  display: block;
                }
              }
            }

            [js-menu-documents] {
              a.hover {
                &:nth-child(1) {
                  font-size: var(--fs-h3);
                }
              }

              a:focus {
                &:nth-child(1) {
                  font-size: var(--fs-h3);
                }
              }
            }
          }

          aside[menu-mobile].hidden {
            left: -101%;
            opacity: 0;
            visibility: hidden;
          }

          aside[menu-mobile].visible {
            left: 0;
            opacity: 1;
            visibility: visible;
          }

          .overview {
            position: fixed;
            z-index: 10;
            inset: 0;
            background: #0a0a0a;
            opacity: 0;
            visibility: hidden;
            /* JS-TO: opacity: 0.4; */
          }

          .menu-btn {
            position: relative;
            width: 32px;
            height: 32px;
            display: inline-block;
            background: none;
            border: none;
            transition: .3s ease;
            z-index: 3;

            &::after,
            &::before {
              content: "";
            }

            &::after,
            &::before,
            & span {
              position: absolute;
              width: 30px;
              height: 4px;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%) rotate(0deg);
              transition: .4s ease;
              background: linear-gradient(45deg, var(--palette-acient), var(--palette-second));
              border-radius: 8px;
              opacity: 1;
              scale: 1;
            }

            &::before {
              transform: translateX(-50%) translateY(calc(-50% - 10px)) rotate(0deg);
            }

            &::after {
              transform: translateX(-50%) translateY(calc(-50% + 10px)) rotate(0deg);
            }
          }

          .menu-btn.active {
            z-index: 12;

            &::after {
              animation: rotateBottomLine 0.4s ease forwards;
            }

            & span {
              animation: hiddenMiddleLine 0.4s ease forwards;
            }

            &::before {
              animation: rotateTopLine 0.4s ease forwards;
            }
          }

          .menu-btn.unactive {
            &::after {
              animation: rotateBottomLineUn 0.4s ease forwards;
            }

            & span {
              animation: hiddenMiddleLineUn 0.4s ease forwards;
            }

            &::before {
              animation: rotateTopLineUn 0.4s ease forwards;
            }
          }

          .menu-btn.hover {
            transform: translateY(-3px);
          }
        }

        .right {
          display: flex;
          height: auto;
          gap: 15px;

          a {
            text-transform: uppercase;
            padding: 15px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: --color-gradient-for-hyperbutton_start 0.4s, --color-gradient-for-hyperbutton_end 0.4s,
              transform 0.3s ease;
            font-size: calc(var(--fs-btn) * 0.85);
            font-weight: 700;
            border-radius: 8px;
            z-index: 3;

            &:nth-child(1) {
              color: var(--palette-text-inv);
              border: 2px solid var(--palette-acient);
              background: linear-gradient(135deg, var(--color-gradient-for-hyperbutton_start), var(--color-gradient-for-hyperbutton_end));
            }

            &:nth-child(2) {
              --color-gradient-for-hyperbutton_start: #1f1f1fff;
              --color-gradient-for-hyperbutton_end: #1f1f1fff;
              border: 2px solid var(--palette-second);
              color: var(--palette-text-inv);
              background: linear-gradient(135deg, var(--color-gradient-for-hyperbutton_start), var(--color-gradient-for-hyperbutton_end));
            }

            &:nth-child(3) {
              --color-gradient-for-hyperbutton_start: #1f1f1fff;
              --color-gradient-for-hyperbutton_end: #1f1f1fff;
              border: 2px solid var(--palette-second);
              color: var(--palette-text-inv);
              background: linear-gradient(135deg, var(--color-gradient-for-hyperbutton_start), var(--color-gradient-for-hyperbutton_end));
            }
          }

          a.hover {
            transform: translateY(-3px);

            &:nth-child(1) {
              --color-gradient-for-hyperbutton_start: #1f1f1fff;
              --color-gradient-for-hyperbutton_end: #1f1f1fff;
            }

            &:nth-child(2) {
              --color-gradient-for-hyperbutton_start: #9780e5ff;
              --color-gradient-for-hyperbutton_end: #da6ad0ff;
            }

            &:nth-child(3) {
              --color-gradient-for-hyperbutton_start: #9780e5ff;
              --color-gradient-for-hyperbutton_end: #da6ad0ff;
            }
          }
        }

        div.list {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          bottom: -6px;
          transform: translateY(100%);
          border-radius: 4px;
          background: #1f1f1f;
          border: 2px solid var(--palette-acient);
          padding: 7.5px;
          gap: 5px;
          z-index: 3;
          overflow: hidden;
          transition: .3s ease;

          a {
            position: relative;
            transition: .3s ease;
            color: var(--palette-text-shadow);
            font-size: calc(1.1 * var(--fs-btn));

            &::before {
              content: "›";
              margin-right: 5px;
            }
          }

          a.hover {
            color: var(--palette-text-inv);
          }
        }

        div.list[js-list-socials] {
          left: calc(82px + var(--docs-width) + var(--catalog-width));

          a {
            white-space: nowrap;

            &::before {
              display: inline-block;
              content: "";
              width: calc(1.1 * var(--fs-btn));
              height: calc(1.1 * var(--fs-btn));
              mask-position: center;
              mask-repeat: no-repeat;
              mask-size: cover;
              background-color: var(--palette-text-shadow);
              transform: translateY(2px);
              transition: .3s ease;
            }

            &::after {
              position: absolute;
              content: "";
              width: calc(1.06 * var(--fs-btn));
              height: calc(1.06 * var(--fs-btn));
              border-radius: 10em;
              transition: .3s ease;
              background: #f5f5f5;
              opacity: 0;
              top: calc(50% + 1px);
              left: 9px;
              z-index: -1;
              transform: translate(-55%, -51%);
            }
          }

          [el="icon-tg"] {
            &::before {
              mask-image: url(../../../assets/icon/tg.svg);
            }
          }

          [el="icon-vk"] {
            &::before {
              mask-image: url(../../../assets/icon/vk.svg);
            }
          }

          [el="icon-git"] {
            &::after {
              background: #000000;
            }

            &::before {
              mask-image: url(../../../assets/icon/github.svg);
            }
          }

          [el="icon-youtube"] {
            &::before {
              mask-image: url(../../../assets/icon/youtube.svg);
            }
          }

          a.hover {
            &::after {
              opacity: 1;
            }
          }

          [el="icon-tg"].hover {
            &::before {
              background-color: #188fca;
            }
          }

          [el="icon-git"].hover {
            &::before {
              background-color: #a164ba;
            }
          }

          [el="icon-vk"].hover {
            &::before {
              background-color: #006ce8;
            }
          }

          [el="icon-youtube"].hover {
            &::before {
              background-color: #e80000;
            }
          }
        }

        div.list[js-list-documents] {
          left: calc(67px + var(--catalog-width));

          a {
            white-space: nowrap;

            &::before {
              content: "»";
            }
          }
        }

        div.list[js-list-catalog] {
          left: calc(52px + 5px + 10px);
        }

        div.list.hidden {
          visibility: hidden;
          pointer-events: none;
          opacity: 0;
        }

        div.list.visible {
          visibility: visible;
          pointer-events: auto;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes rotateTopLine {
  to {
    transform: translateX(-50%) translateY(calc(-50%)) rotate(45deg);
  }
}

@keyframes hiddenMiddleLine {
  to {
    opacity: 0;
    scale: 0;
  }
}

@keyframes rotateBottomLine {
  to {
    transform: translateX(-50%) translateY(calc(-50%)) rotate(-45deg);
  }
}

@keyframes rotateTopLineUn {
  from {
    transform: translateX(-50%) translateY(calc(-50%)) rotate(45deg);
  }

  to {
    transform: translateX(-50%) translateY(calc(-50% - 10px)) rotate(0deg);
  }
}

@keyframes hiddenMiddleLineUn {
  from {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes rotateBottomLineUn {
  from {
    transform: translateX(-50%) translateY(calc(-50%)) rotate(-45deg);
  }

  to {
    transform: translateX(-50%) translateY(calc(-50% + 10px)) rotate(0deg);
  }
}

@media (max-width: 700px) {

  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & header.webapp-nav {
        & .__container {
          padding: 10px 10px;

          .left>*:not([banner-CS]) {
            display: none !important;
          }

          .mobile {
            display: flex;
          }
        }
      }
    }
  }
}