html[cross-browser] {
  & main[data-layout="main"][role="main"] {
    position: relative;

    [logo-banner] {
      display: inline-block;
      will-change: transform;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 60%;
      max-height: 150px;
      min-height: 85px;
      background: linear-gradient(45deg, var(--palette-acient), var(--palette-second));
      mask: url(../../assets/icon/profile.logo-banner.svg) center/cover no-repeat;
      -webkit-mask: url(../../assets/icon/profile.logo-banner.svg) center/cover no-repeat;
      overflow: hidden;
      text-align: center;
      word-spacing: nowrap;
      transition: .3s ease;

      img {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-25%, -60%);
        max-height: 85px;
        min-height: 35px;
        height: 60%;
        object-fit: cover;
        z-index: 2;
      }

      &::after,
      &::before {
        will-change: transform;
        position: absolute;
        content: "";
        top: 0;
        z-index: 1;
      }

      &::before {
        width: 100%;
        height: 100%;
        left: 0;
        border-left: var(--palette-custom) 96px solid;
        animation: blink-button 3s infinite ease;
      }

      &::after {
        width: 120%;
        height: 120%;
        left: 58px;
        border-left: var(--palette-custom-second) 48px solid;
        animation: blink-button 3s infinite ease;
      }
    }

    [logo-banner].hover {
      box-shadow: inset 0px 10px 15px 0px var(--palette-custom);
    }

    .__container.profile_page {
      width: 100%;
      gap: 15px;
      max-width: 1200px;
      padding: 10px;
      flex-wrap: wrap;
      margin-top: 200px;

      h1 {
        display: flex;
        width: 100%;
        margin-bottom: 50px;
      }

      .long.block {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
      }

      .long.block.data {
        --padding-left: 65px;

        .l_block {
          display: flex;
          flex: 1;
          min-width: 300px;
          width: 100%;
          flex-direction: column;
          border: 2px solid var(--palette-acient);
          transition: .3s ease;
          border-radius: 8px;

          .block.header {
            border-bottom: 2px solid var(--palette-acient);
          }

          .block.body {
            position: relative;

            &:last-child {
              &::after {
                background: none;
              }
            }

            &::after {
              background: var(--palette-acient);
            }

            h3 {
              display: flex;
              align-items: center;
              width: 100%;
              padding-left: var(--padding-left);
              position: relative;
              line-height: 1.4;
              color: var(--palette-text-shadow);
              transition: .3s ease;

              &::after {
                content: "";
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translate(50%, -50%);
                width: 35px;
                height: 35px;
                background-color: var(--palette-acient);
                transition: .3s ease;
              }
            }

            h3[el="user-name"] {
              font-weight: 700;

              &::after {
                mask: url(../../../assets/icon/profile.user-name.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.user-name.svg) center / cover no-repeat;
              }
            }

            h3[el="role"] {
              &::after {
                mask: url(../../../assets/icon/profile.role.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.role.svg) center / cover no-repeat;
              }
            }

            h3[el="p-time"] {
              &::after {
                mask: url(../../../assets/icon/profile.p-time.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.p-time.svg) center / cover no-repeat;
              }
            }

            h3[el="country"] {
              &::after {
                background-color: none;
                background: url(../../assets/icon/footer_site.ru-fg.svg) center / cover no-repeat;
                opacity: .7;
              }
            }

            h3[el="user-guide"] {
              &::after {
                mask: url(../../../assets/icon/profile.guide.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.guide.svg) center / cover no-repeat;
              }
            }

            h3.hover {
              color: var(--palette-text-inv);

              &::after {
                background-color: var(--palette-custom);
              }
            }

            h3[el="country"].hover {
              &::after {
                background-color: transparent !important;
                opacity: 1;
              }
            }

            .edit, .see {
              position: absolute;
              right: 25px;
              top: 50%;
              transform: translateY(-40%);
            }

            .edit[disabled] {
              opacity: 0.7;
            }

            .edit[disabled].hover {
              cursor: not-allowed;
              color: var(--palette-acient);
              opacity: 0.7;

              &::after {
                display: none;
              }
            }
          }

          .block.footer {
            height: auto;
            padding: 0;
            border-top: 2px solid var(--palette-acient);
            flex-direction: column;
            padding: 10px 0px 0px 0px;

            h2 {
              padding-bottom: 10px;
              padding-left: 10px;
              border-bottom: 2px solid var(--palette-acient);
            }

            form {
              padding: 5px;
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 10px;
              height: auto;

              input {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: 12.5px 10px;
                background: var(--palette-main);
                color: var(--palette-text-inv);
                font-weight: 300;
                text-align: center;
                font-size: calc(var(--fs-p) * 1.25);
                border: none;
                text-transform: uppercase;
                letter-spacing: -0.65px;
                border: 1px solid rgba(151, 128, 229, 0.7);
              }

              button {
                letter-spacing: 1.5px;
              }
            }
          }
        }

        .l_block.hover {
          box-shadow: 0px 0px 10px 0px var(--palette-acient);
        }

        .block {
          display: flex;
          padding: 10px 15px;
          justify-content: space-between;
          position: relative;
          height: 47px;
        }

        .block.body {
          &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            opacity: .4;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .r_block {
          display: flex;
          flex: 1;
          min-width: 300px;
          width: 100%;
          flex-direction: column;
          border: 2px solid var(--palette-second);
          border-radius: 8px;
          transition: .3s ease;

          .block.header {
            border-bottom: 2px solid var(--palette-second);
          }

          .block.body {
            position: relative;

            &::after {
              background: var(--palette-second);
            }

            &:last-child {
              &::after {
                display: none;
              }
            }

            h3 {
              display: flex;
              align-items: center;
              width: 100%;
              padding-left: var(--padding-left);
              position: relative;
              line-height: 1.4;
              color: var(--palette-text-shadow);
              transition: .3s ease;

              &::after {
                content: "";
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translate(50%, -50%);
                width: 35px;
                height: 35px;
                background-color: var(--palette-second);
                transition: .3s ease;
              }
            }

            h3[el="password"] {
              font-size: calc(var(--fs-h3) * 0.9);
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              span {
                display: block;
                font-size: calc(var(--fs-h3) * 0.7);
              }

              &::after {
                mask: url(../../../assets/icon/profile.password.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.password.svg) center / cover no-repeat;
              }
            }

            h3[el="2FA"] {
              &::after {
                mask: url(../../../assets/icon/profile.2fa.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.2fa.svg) center / cover no-repeat;
              }
            }

            h3[el="Cookie"] {
              &::after {
                mask: url(../../../assets/icon/profile.cookie.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.cookie.svg) center / cover no-repeat;
              }
            }

            h3[el="tribute"] {
              &::after {
                mask: url(../../../assets/icon/profile.tribute.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.tribute.svg) center / cover no-repeat;
              }
            }

            h3[el="debug"] {
              &::after {
                mask: url(../../../assets/icon/profile.debug.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.debug.svg) center / cover no-repeat;
              }
            }

            h3[el="user-guide"] {
              &::after {
                mask: url(../../../assets/icon/profile.guide.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.guide.svg) center / cover no-repeat;

              }
            }

            h3.hover {
              color: var(--palette-text-inv);

              &::after {
                background-color: var(--palette-custom-second);
              }
            }

            h3[el="password"].hover {
              &::after {
                mask: url(../../../assets/icon/profile.password-active.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.password-active.svg) center / cover no-repeat;
              }
            }

            h3[el="debug"].hover {
              &::after {
                mask: url(../../../assets/icon/profile.debug.svg) center / cover no-repeat;
                -webkit-mask: url(../../../assets/icon/profile.debug.svg) center / cover no-repeat;
                animation: rotateDebugHover 0.5s ease-in-out forwards;
              }
            }

            .btn,
            .edit,
            .connect,
            .tune,
            .send,
            .see {
              position: absolute;
              right: 25px;
              top: 50%;
              transform: translateY(-40%);
            }

            .edit.pass[disabled] {
              opacity: 0.7;
            }

            .edit.pass[disabled].hover {
              cursor: not-allowed;
              color: var(--palette-acient);
              opacity: 0.7;

              &::after {
                display: none;
              }
            }
          }

          .block.body.n_confirm {
            height: auto;

            .left {
              display: flex;
              flex-direction: column;
              width: 100%;

              h3 {
                &::after {
                  mask: url(../../../assets/icon/profile.mail_n_confirm.svg) center / cover no-repeat;
                  -webkit-mask: url(../../../assets/icon/profile.mail_n_confirm.svg) center / cover no-repeat;
                  transform: translate(50%, -15%);
                  background-color: #ffd23f;
                  opacity: .8;
                }
              }

              span {
                padding-left: var(--padding-left);
                color: #ffd23f;
                transition: .3s ease;
                opacity: 0.8;
              }
            }

            .left.hover {
              h3 {
                color: var(--palette-text-inv);

                &::after {
                  background-color: #ffca1d;
                  opacity: 1;
                }
              }

              span {
                color: #ffca1d;
                opacity: 1;
              }
            }

            .right {
              &::before {
                content: attr(data-time);
                position: absolute;
                bottom: -16px;
                font-size: calc(0.95 * var(--fs-small));
                color: var(--palette-text-inv);
                transition: .3s ease;
                left: 50%;
                transform: translate(-50%, 0%);
                white-space: nowrap;
              }
            }

            .right.locked {
              pointer-events: none !important;
              opacity: 0.6;

              &::after {
                display: none !important;
              }
            }
          }

          .block.body.confirm {
            height: auto;

            .left {
              display: flex;
              flex-direction: column;
              width: 100%;

              h3 {
                &::after {
                  mask: url(../../../assets/icon/profile.mail_confirm.svg) center / cover no-repeat;
                  -webkit-mask: url(../../../assets/icon/profile.mail_confirm.svg) center / cover no-repeat;
                  transform: translate(50%, -15%);
                  background-color: #1E7F34;
                  opacity: .8;
                }
              }

              span {
                padding-left: 65px;
                color: #1E7F34;
                transition: .3s ease;
                opacity: 0.8;
              }
            }

            .left.hover {
              h3 {
                color: var(--palette-text-inv);

                &::after {
                  background-color: #2ECC71;
                  opacity: 1;
                }
              }

              span {
                color: #2ECC71;
                opacity: 1;
              }
            }

            .btn.right[disabled] {
              opacity: 0.7;
            }

            .btn.right[disabled].hover {
              cursor: not-allowed;
              color: var(--palette-acient);
              opacity: 0.7;

              &::after {
                display: none;
              }
            }
          }
        }

        .r_block.hover {
          box-shadow: 0px 0px 10px 0px var(--palette-second);
        }
      }

      .long.block.management {
        .block {
          display: flex;
          flex: 1;
          min-width: 300px;
          width: 100%;
          flex-direction: column;
          border-radius: 8px;
        }

        .block.session {
          height: 300px;
          justify-content: center;
          align-items: center;
          border: 2px solid var(--palette-second);
          transition: .3s ease;
        }

        .block.session.hover {
          box-shadow: 0px 0px 10px 0px var(--palette-second);
        }

        .block.prime_pref {
          height: 300px;
          justify-content: center;
          align-items: center;
          border: 2px solid var(--palette-acient);
          transition: .3s ease;
        }

        .block.prime_pref.hover {
          box-shadow: 0px 0px 10px 0px var(--palette-acient);
        }
      }

      .long.block.save_data {
        height: 200px;
        border-radius: 8px;
        padding: 2px;
        background: linear-gradient(90deg, var(--palette-acient), var(--palette-second));
        transition: .3s ease;
        justify-content: center;
        align-items: center;

        .content {
          background: var(--palette-main);
          padding: 8px;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 15px;
          flex-wrap: wrap;
          border-radius: calc(8px - 2px);

          .left {}

          .right {
            .tune {
              transform: translateX(-19px);
            }
          }
        }
      }

      .long.block.save_data.hover {
        box-shadow: 0px 0px 10px 0 var(--palette-acient),
          0px 0px 10px 0px var(--palette-second);
      }
    }
  }
}

@media screen and (min-width: 1720px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & [logo-banner] {
        img {
          left: 27.5%;
        }
      }
    }
  }
}

/* UserName-form */
html[cross-browser] {
  .js-window[js-window-update-profile-name] {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19191970;
    z-index: 15;

    .description {
      display: flex;
      width: 80%;
      background: var(--palette-main);
      border: 2px solid var(--palette-second);
      border-radius: 8px;
      flex-direction: column;
      max-width: 450px;
      min-width: 225px;
      align-items: center;
      padding: 20px;
      transition: .3s ease;

      .progress-bar {
        padding: 20px 60px;
        max-width: 400px;
        width: 100%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 400px;
          width: 100%;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .main-content {
        transition: .3s ease;
      }

      .main-content.step1 {

        .headline {
          margin-top: 10px;
          font-size: calc(1 * var(--fs-p));
          color: var(--palette-text-shadow);
        }

        .desc {
          margin-top: 10px;
          background-color: #ffca1d20;
          display: block;
          padding: 5px;
          font-size: calc(0.8 * var(--fs-p));
          text-indent: 15px;
          position: relative;
          color: var(--palette-text-shadow);
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            transform: translate(-50%, -50%);
            background: var(--palette-main);
            width: calc(0.8 * var(--fs-p));
            height: calc(0.8 * var(--fs-p));
            background-color: #ffd23f;
            mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
          }
        }

        .button-block {
          margin-top: 10px;
          padding: 0px 17.5px 0px 0px;
          display: flex;
          gap: 20px;
          align-items: flex-end;
        }
      }

      .main-content.step2 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;

        form {
          display: flex;
          flex-direction: column;
          padding: 0px 30px;

          .error_message_form {
            color: var(--error-message-form);
            font-weight: 700;
            text-align: center;
            font-size: calc(1.05 * var(--fs-p));
          }

          .input_block {
            display: flex;
            flex-direction: column;
            --color-async-label: var(--palette-text-shadow);

            span {
              margin-left: 5px;
              font-size: calc(0.95 * var(--fs-p));
              color: var(--error-message-form-input);
              font-weight: 600;
            }

            label {
              display: flex;
              text-align: left;
              transition: .3s ease;
              color: var(--color-async-label);
              position: relative;
              margin-left: 25px;
              width: max-content;

              &::after {
                content: "–";
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--color-async-label);
                transition: .3s ease;
              }

              &::before {
                content: "–";
                position: absolute;
                right: -7px;
                top: 50%;
                transform: translate(50%, -50%);
                color: var(--color-async-label);
                transition: .3s ease;
              }
            }

            input {
              margin-top: 5px;
              display: flex;
              justify-content: center;
              align-items: stretch;
              width: 100%;
              padding: 10px 15px;
              border-radius: 8px;
              border: var(--palette-second) 2px solid;
              background: var(--palette-main);
              color: var(--palette-text-inv);
              transition: 0.3s ease;
              font-weight: 600;
              opacity: 0.7;
              font-size: var(--fs-h3);
            }

            input.hover {
              box-shadow: 0px 0px 10px 0px var(--palette-second);
              opacity: 1;
            }
          }

          .input_block.hover {
            --color-async-label: var(--palette-text-inv);
          }

          .block-button {
            margin-top: 10px;
            padding: 0px 17.5px 0px 0px;
            display: flex;
            gap: 20px;
            align-items: flex-end;
          }
        }
      }

      .main-content.step3 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .headline {
          margin-top: 10px;
          font-size: calc(1 * var(--fs-p));
          text-align: center;
          font-weight: 600;
        }

        .desc {
          margin-top: 10px;
          background-color: #ffca1d20;
          display: block;
          padding: 5px;
          font-size: calc(0.8 * var(--fs-p));
          text-indent: 15px;
          position: relative;
          color: var(--palette-text-shadow);
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            transform: translate(-50%, -50%);
            background: var(--palette-main);
            width: calc(0.8 * var(--fs-p));
            height: calc(0.8 * var(--fs-p));
            background-color: #ffd23f;
            mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
          }
        }

        .button-block {
          margin-top: 10px;
          padding: 0px 17.5px 0px 0px;
          display: flex;
          gap: 20px;
          align-items: flex-end;
        }
      }

      .main-content.step3[success="false"] {
        margin-top: 45px;

        .headline {
          position: relative;
          color: var(--error-message-form);

          &::after {
            content: "";
            position: absolute;
            background-color: var(--error-message-form);
            mask: url(../../assets/icon/not-allowed.js-window.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/not-allowed.js-window.svg) center/cover no-repeat;
            width: 36px;
            height: 36px;
            top: -28px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .main-content.step3[success="true"] {
        margin-top: 45px;

        .headline {
          position: relative;
          color: var(--success-message);

          &::after {
            content: "";
            position: absolute;
            background-color: var(--success-message);
            mask: url(../../assets/icon/ok.js-window.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/ok.js-window.svg) center/cover no-repeat;
            width: 36px;
            height: 36px;
            top: -28px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .button-block {
          padding: 0;
        }
      }
    }

    .description[step="1"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.name.step1.svg);
        }
      }

      .main-content.step1 {
        display: block;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }
    }

    .description[step="2"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.name.step2.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: flex;
      }

      .main-content.step3 {
        display: none;
      }
    }

    .description[step="3"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.name.step3.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }

      .main-content.step3[success="true"] {
        display: block;
      }

      .main-content.step3[success="false"] {
        display: block;
      }
    }

    .description[step="final"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.name.step-final.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }

      .main-content.step3[success="true"] {
        display: block;
      }
    }

    .description.hover {
      box-shadow: 0px 0px 10px 2px var(--palette-second);
    }
  }

  .js-window[js-window-update-profile-name].hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .js-window[js-window-update-profile-name].visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

/* Email-form */
html[cross-browser] {
  .js-window[js-window-update-profile-email] {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19191970;
    z-index: 15;

    .description {
      display: flex;
      width: 80%;
      background: var(--palette-main);
      border: 2px solid var(--palette-second);
      border-radius: 8px;
      flex-direction: column;
      max-width: 450px;
      min-width: 225px;
      align-items: center;
      padding: 20px;
      transition: .3s ease;

      .progress-bar {
        padding: 20px 60px;
        max-width: 400px;
        width: 100%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 400px;
          width: 100%;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .main-content {
        transition: .3s ease;
      }

      .main-content.step1 {

        .headline {
          margin-top: 10px;
          font-size: calc(1 * var(--fs-p));
          color: var(--palette-text-shadow);
        }

        .desc {
          margin-top: 10px;
          background-color: #ffca1d20;
          display: block;
          padding: 5px;
          font-size: calc(0.8 * var(--fs-p));
          text-indent: 15px;
          position: relative;
          color: var(--palette-text-shadow);
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            transform: translate(-50%, -50%);
            background: var(--palette-main);
            width: calc(0.8 * var(--fs-p));
            height: calc(0.8 * var(--fs-p));
            background-color: #ffd23f;
            mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
          }
        }

        .button-block {
          margin-top: 10px;
          padding: 0px 17.5px 0px 0px;
          display: flex;
          gap: 20px;
          align-items: flex-end;
        }
      }

      .main-content.step2 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;

        form {
          display: flex;
          flex-direction: column;
          padding: 0px 30px;

          .error_message_form {
            color: var(--error-message-form);
            font-weight: 700;
            text-align: center;
            font-size: calc(1.05 * var(--fs-p));
          }

          .input_block {
            display: flex;
            flex-direction: column;
            --color-async-label: var(--palette-text-shadow);

            span {
              margin-left: 5px;
              font-size: calc(0.95 * var(--fs-p));
              color: var(--error-message-form-input);
              font-weight: 600;
            }

            label {
              display: flex;
              text-align: left;
              transition: .3s ease;
              color: var(--color-async-label);
              position: relative;
              margin-left: 25px;
              width: max-content;

              &::after {
                content: "–";
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--color-async-label);
                transition: .3s ease;
              }

              &::before {
                content: "–";
                position: absolute;
                right: -7px;
                top: 50%;
                transform: translate(50%, -50%);
                color: var(--color-async-label);
                transition: .3s ease;
              }
            }

            input {
              margin-top: 5px;
              display: flex;
              justify-content: center;
              align-items: stretch;
              width: 100%;
              padding: 10px 15px;
              border-radius: 8px;
              border: var(--palette-second) 2px solid;
              background: var(--palette-main);
              color: var(--palette-text-inv);
              transition: 0.3s ease;
              font-weight: 600;
              opacity: 0.7;
              font-size: var(--fs-h3);
            }

            input.hover {
              box-shadow: 0px 0px 10px 0px var(--palette-second);
              opacity: 1;
            }
          }

          .input_block.hover {
            --color-async-label: var(--palette-text-inv);
          }

          .block-button {
            margin-top: 10px;
            padding: 0px 17.5px 0px 0px;
            display: flex;
            gap: 20px;
            align-items: flex-end;
          }
        }
      }

      .main-content.step3 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .headline {
          margin-top: 10px;
          font-size: calc(1 * var(--fs-p));
          text-align: center;
          font-weight: 600;
        }

        .desc {
          margin-top: 10px;
          background-color: #ffca1d20;
          display: block;
          padding: 5px;
          font-size: calc(0.8 * var(--fs-p));
          text-indent: 15px;
          position: relative;
          color: var(--palette-text-shadow);
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            transform: translate(-50%, -50%);
            background: var(--palette-main);
            width: calc(0.8 * var(--fs-p));
            height: calc(0.8 * var(--fs-p));
            background-color: #ffd23f;
            mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
          }
        }

        .button-block {
          margin-top: 10px;
          padding: 0px 17.5px 0px 0px;
          display: flex;
          gap: 20px;
          align-items: flex-end;
        }
      }

      .main-content.step3[success="false"] {
        margin-top: 45px;

        .headline {
          position: relative;
          color: var(--error-message-form);

          &::after {
            content: "";
            position: absolute;
            background-color: var(--error-message-form);
            mask: url(../../assets/icon/not-allowed.js-window.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/not-allowed.js-window.svg) center/cover no-repeat;
            width: 36px;
            height: 36px;
            top: -28px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .main-content.step3[success="true"] {
        margin-top: 45px;

        .headline {
          position: relative;
          color: var(--success-message);

          &::after {
            content: "";
            position: absolute;
            background-color: var(--success-message);
            mask: url(../../assets/icon/ok.js-window.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/ok.js-window.svg) center/cover no-repeat;
            width: 36px;
            height: 36px;
            top: -28px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .button-block {
          padding: 0;
        }
      }
    }

    .description[step="1"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step1.svg);
        }
      }

      .main-content.step1 {
        display: block;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }
    }

    .description[step="2"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step2.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: flex;
      }

      .main-content.step3 {
        display: none;
      }
    }

    .description[step="3"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step3.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }

      .main-content.step3[success="true"] {
        display: block;
      }

      .main-content.step3[success="false"] {
        display: block;
      }
    }

    .description[step="final"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step-final.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }

      .main-content.step3[success="true"] {
        display: block;
      }
    }

    .description.hover {
      box-shadow: 0px 0px 10px 2px var(--palette-second);
    }
  }

  .js-window[js-window-update-profile-email].hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .js-window[js-window-update-profile-email].visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

/* Password-form */
html[cross-browser] {
  .js-window[js-window-update-profile-password] {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19191970;
    z-index: 15;

    .description {
      display: flex;
      width: 80%;
      background: var(--palette-main);
      border: 2px solid var(--palette-second);
      border-radius: 8px;
      flex-direction: column;
      max-width: 450px;
      min-width: 225px;
      align-items: center;
      padding: 20px;
      transition: .3s ease;

      .progress-bar {
        padding: 20px 60px;
        max-width: 400px;
        width: 100%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 400px;
          width: 100%;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .main-content {
        transition: .3s ease;
      }

      .main-content.step1 {

        .headline {
          margin-top: 10px;
          font-size: calc(1 * var(--fs-p));
          color: var(--palette-text-shadow);
        }

        .desc {
          margin-top: 10px;
          background-color: #ffca1d20;
          display: block;
          padding: 5px;
          font-size: calc(0.8 * var(--fs-p));
          text-indent: 15px;
          position: relative;
          color: var(--palette-text-shadow);
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            transform: translate(-50%, -50%);
            background: var(--palette-main);
            width: calc(0.8 * var(--fs-p));
            height: calc(0.8 * var(--fs-p));
            background-color: #ffd23f;
            mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
          }
        }

        .button-block {
          margin-top: 10px;
          padding: 0px 17.5px 0px 0px;
          display: flex;
          gap: 20px;
          align-items: flex-end;
        }
      }

      .main-content.step2 {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin-top: 10px;

        form {
          display: flex;
          flex-direction: column;
          padding: 0px 30px;

          .error_message_form {
            color: var(--error-message-form);
            font-weight: 700;
            text-align: center;
            font-size: calc(1.05 * var(--fs-p));
          }

          .input_block {
            display: flex;
            flex-direction: column;
            --color-async-label: var(--palette-text-shadow);

            span {
              margin-left: 5px;
              font-size: calc(0.95 * var(--fs-p));
              color: var(--error-message-form-input);
              font-weight: 600;
            }

            label {
              display: flex;
              text-align: left;
              transition: .3s ease;
              color: var(--color-async-label);
              position: relative;
              margin-left: 25px;
              width: max-content;

              &::after {
                content: "–";
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--color-async-label);
                transition: .3s ease;
              }

              &::before {
                content: "–";
                position: absolute;
                right: -7px;
                top: 50%;
                transform: translate(50%, -50%);
                color: var(--color-async-label);
                transition: .3s ease;
              }
            }

            input {
              margin-top: 5px;
              display: flex;
              justify-content: center;
              align-items: stretch;
              width: 100%;
              padding: 10px 15px;
              border-radius: 8px;
              border: var(--palette-second) 2px solid;
              background: var(--palette-main);
              color: var(--palette-text-inv);
              transition: 0.3s ease;
              font-weight: 600;
              opacity: 0.7;
              font-size: var(--fs-h3);
            }

            input.hover {
              box-shadow: 0px 0px 10px 0px var(--palette-second);
              opacity: 1;
            }
          }

          .input_block.hover {
            --color-async-label: var(--palette-text-inv);
          }

          .block-button {
            margin-top: 10px;
            padding: 0px 17.5px 0px 0px;
            display: flex;
            gap: 20px;
            align-items: flex-end;
          }
        }
      }

      .main-content.step3 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .headline {
          margin-top: 10px;
          font-size: calc(1 * var(--fs-p));
          text-align: center;
          font-weight: 600;
        }

        .desc {
          margin-top: 10px;
          background-color: #ffca1d20;
          display: block;
          padding: 5px;
          font-size: calc(0.8 * var(--fs-p));
          text-indent: 15px;
          position: relative;
          color: var(--palette-text-shadow);
          border-radius: 8px;

          &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: 28%;
            transform: translate(-50%, -50%);
            background: var(--palette-main);
            width: calc(0.8 * var(--fs-p));
            height: calc(0.8 * var(--fs-p));
            background-color: #ffd23f;
            mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/attention.svg) center/cover no-repeat;
          }
        }

        .button-block {
          margin-top: 10px;
          padding: 0px 17.5px 0px 0px;
          display: flex;
          gap: 20px;
          align-items: flex-end;
        }
      }

      .main-content.step3[success="false"] {
        margin-top: 45px;

        .headline {
          position: relative;
          color: var(--error-message-form);

          &::after {
            content: "";
            position: absolute;
            background-color: var(--error-message-form);
            mask: url(../../assets/icon/not-allowed.js-window.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/not-allowed.js-window.svg) center/cover no-repeat;
            width: 36px;
            height: 36px;
            top: -28px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .main-content.step3[success="true"] {
        margin-top: 45px;

        .headline {
          position: relative;
          color: var(--success-message);

          &::after {
            content: "";
            position: absolute;
            background-color: var(--success-message);
            mask: url(../../assets/icon/ok.js-window.svg) center/cover no-repeat;
            -webkit-mask: url(../../assets/icon/ok.js-window.svg) center/cover no-repeat;
            width: 36px;
            height: 36px;
            top: -28px;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .button-block {
          padding: 0;
        }
      }
    }

    .description[step="1"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step1.svg);
        }
      }

      .main-content.step1 {
        display: block;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }
    }

    .description[step="2"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step2.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: flex;
      }

      .main-content.step3 {
        display: none;
      }
    }

    .description[step="3"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step3.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }

      .main-content.step3[success="true"] {
        display: block;
      }

      .main-content.step3[success="false"] {
        display: block;
      }
    }

    .description[step="final"] {
      .progress-bar {
        &::before {
          background-image: url(../../assets/img/js-window.email.step-final.svg);
        }
      }

      .main-content.step1 {
        display: none;
      }

      .main-content.step2 {
        display: none;
      }

      .main-content.step3 {
        display: none;
      }

      .main-content.step3[success="true"] {
        display: block;
      }
    }

    .description.hover {
      box-shadow: 0px 0px 10px 2px var(--palette-second);
    }
  }

  .js-window[js-window-update-profile-password].hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .js-window[js-window-update-profile-password].visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@keyframes rotateDebugHover {
  0% {
    transform: translate(50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(50%, -50%) rotate(-7.5deg);
  }

  50% {
    transform: translate(50%, -50%) rotate(0deg);
  }

  75% {
    transform: translate(50%, -50%) rotate(7.5deg);
  }

  100% {
    transform: translate(50%, -50%) rotate(0deg);
  }
}

@media screen and (max-width: 880px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & .__container.profile_page {
        & .long.block.data {
          --padding-left: 55px;

          & .r_block {
            & .block.body {
              h3 {
                font-size: calc(0.9 * var(--fs-h3));
              }
            }
          }

          & .l_block {
            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-h3));
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 772px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & [logo-banner] {
        img {
          left: 25%;
          transform: translate(-10%, -60%);
        }
      }

      & .__container.profile_page {
        & .long.block.data {
          --padding-left: 50px;

          & .r_block {
            & .block.header {
              h2 {
                font-size: calc(0.9 * var(--fs-h2));
              }
            }

            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-p));
              }
            }
          }

          & .l_block {
            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-h3));
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 668px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & [logo-banner] {
        img {
          left: 50%;
          transform: translate(-50%, -60%);
        }
      }

      & .__container.profile_page {
        & .long.block.data {
          --padding-left: 65px;

          & .r_block {
            & .block.header {
              h2 {
                font-size: calc(1 * var(--fs-h2));
              }
            }

            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-h3));
              }
            }
          }

          & .l_block {
            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-h3));
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & [logo-banner] {
        img {
          left: 50%;
          transform: translate(-50%, -60%);
          height: 45%;
        }
      }

      & .__container.profile_page {
        & .long.block.data {
          --padding-left: 50px;

          & .r_block {
            & .block.header {
              h2 {
                font-size: calc(0.9 * var(--fs-h2));
              }
            }

            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-p));
              }
            }
          }

          & .l_block {
            & .block.body {
              h3 {
                font-size: calc(1 * var(--fs-h3));
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & [logo-banner] {
        img {
          height: 35%;
        }
      }

      & .__container.profile_page {
        & .long.block.data {
          & .r_block {
            min-width: 250px;

            & .block.body {
              h3[el="2FA"] {
                width: 67%;
              }

              h3[el="Cookie"] {
                width: 70%;
              }

              h3[el="user-guide"] {
                width: 60%;
              }
            }
          }

          & .l_block {
            min-width: 250px;
          }
        }

        & .long.block.management {
          .block.session {
            min-width: 250px;
          }

          .block.prime_pref {
            min-width: 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 345px) {
  html[cross-browser] {
    & main[data-layout="main"][role="main"] {
      & .__container.profile_page {
        & .long.block.data {
          --padding-left: 40px;

          .block {
            padding: 10px 5px;
          }

          & .l_block {
            & .block.body {
              & h3 {
                &::after {
                  width: 27.5px;
                  height: 27.5px;
                }
              }
            }
          }

          & .r_block {
            & .block.body {
              & h3 {
                &::after {
                  width: 27.5px;
                  height: 27.5px;
                }
              }
            }
          }
        }
      }
    }
  }
}