html[data-theme-color="white"] {
  --palette-main: #f5f1ee;
  --palette-acient: #ecc1a1;
  --palette-second: #dac8be;
  --palette-nav-text: #58626c;
  --palette-text-inv: #ffffff;
  --palette-shadow: #58626c90;
  --palette-custom: #ebccb4;
}

html[data-theme-color="dark"] {
  --palette-main: #1f1f1f;
  --palette-acient: #9780e5;
  --palette-second: #da6ad0;
  --palette-custom-second: #dd92d7;
  --palette-nav-text: #1f1f1f;
  --palette-nav-site: #191919;
  --palette-text-inv: #ffffff;
  --palette-text-shadow: #c3c3c3;
  --palette-shadow: #ffffff90;
  --palette-custom: #b9aaee;
  --palette-color-tc: #636363;
  --palette-color-tc_hover: #909090;
  --error-message-form: #db3b3b;
  --error-message-form-input: #ffd23f;
  --success-message: #1E7F34;
}

html[cross-browser][data-theme-color="dark"] {
  body {
    background: var(--main-bg);
    color: var(--palette-text-inv);
    --main-bg: var(--palette-main);
    --bg-card: var(--palette-second);
    --bg-form: var(--palette-second);
    --bg-nav: var(--palette-nav-text);
    --color-headline: var(--palette-nav-text);
    --color-link: var(--palette-nav-text);
    --hover-link: var(--palette-shadow);
    --border-button: var(--palette-acient);
    --bg-button: var(--palette-custom);
    --color-button: var(--palette-text-inv);

    [data-style="button"] {
      width: 100%;
      display: inline-block;
      text-align: center;
      background: var(--color-button);
      color: var(--palette-acient);
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      border: var(--border-button) 2px solid;
      word-spacing: nowrap;
    }

    [data-style="button"].hover {
      color: var(--palette-text-inv);
      background: var(--border-button);
    }

    [data-style="inv-button"] {
      background: var(--border-button);
      color: var(--color-button);
      transition: var(--transition-time);
      padding: 10px 20px;
      border-radius: 10px;
      display: inline-block;
      width: 100%;
      font-weight: 700;
      border: var(--border-button) 2px solid;
      word-spacing: nowrap;
      text-align: center;
      margin-inline: 5px;
    }

    [data-style="inv-button"].hover {
      color: var(--palette-text-inv);
      background: var(--palette-main);
    }

    [data-style="link-profile"] {
      background: none;
      color: var(--palette-acient);
      transition: var(--transition-time);
      font-weight: normal;
      border: none;
      text-decoration: none;
      word-spacing: nowrap;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -0.5px;
        left: 0;
        background: var(--palette-acient);
        transition: var(--transition-time);
      }
    }

    [data-style="link-profile"].hover {
      color: var(--palette-custom);

      &::after {
        width: 100%;
      }
    }

    [data-style="link"] {
      background: none;
      color: var(--palette-acient);
      transition: var(--transition-time);
      font-weight: normal;
      border: none;
      text-decoration: none;
      word-spacing: nowrap;
      position: relative;
      margin-right: 17px;

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -0.5px;
        left: 0;
        background: var(--palette-acient);
        transition: var(--transition-time);
      }

      &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        top: 50%;
        right: 0;
        transform: translate(110%, -50%);
        background-color: var(--palette-acient);
        mask: url(../../assets/icon/link.icon-new.svg) center/cover no-repeat;
        -webkit-mask: url(../../assets/icon/link.icon-new.svg) center/cover no-repeat;
        transition: var(--transition-time);
      }
    }

    [data-style="link"].hover {
      color: var(--palette-custom);

      &::after {
        width: 100%;
      }

      &::before {
        transform: translate(120%, -50%);
        background-color: var(--palette-custom);
      }
    }

    [data-style="link-underline"] {
      background: none;
      color: var(--palette-acient);
      transition: var(--transition-time);
      font-weight: normal;
      border: none;
      text-decoration: none;
      word-spacing: nowrap;
      position: relative;
      margin-right: 17px;
      text-decoration: underline;

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        top: 50%;
        right: 0;
        transform: translate(110%, -50%);
        background-color: var(--palette-acient);
        mask: url(../../assets/icon/link.icon-cube.svg) center/cover no-repeat;
        -webkit-mask: url(../../assets/icon/link.icon-cube.svg) center/cover no-repeat;
        transition: var(--transition-time);
        /* cube */
      }

      &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        top: 50%;
        right: 0;
        transform: translate(110%, -50%);
        background-color: var(--palette-acient);
        mask: url(../../assets/icon/link.icon-arrow.svg) center/cover no-repeat;
        -webkit-mask: url(../../assets/icon/link.icon-arrow.svg) center/cover no-repeat;
        transition: var(--transition-time);
        /* arrow */
      }
    }

    [data-style="link-underline"].hover {
      color: var(--palette-custom);

      &::after {
        background: var(--palette-custom);
      }

      &::before {
        transform: translate(120%, -60%);
        background-color: var(--palette-custom);
      }
    }

    [data-style="hyper-button"] {
      display: inline-block;
      text-transform: uppercase;
      will-change: transform;
      background: linear-gradient(45deg,
          var(--color-gradient-for-hyperbutton_start),
          var(--color-gradient-for-hyperbutton_end));
      color: var(--color-button);
      border: var(--border-button) 2px solid;
      font-weight: 700;
      width: 100%;
      padding: 12.5px;
      transition:
        --color-gradient-for-hyperbutton_start 0.4s,
        --color-gradient-for-hyperbutton_end 0.4s;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      text-align: center;
      word-spacing: nowrap;
      z-index: 2;

      & span {
        word-spacing: nowrap;
        position: relative;
        z-index: 2;
        color: var(--color-button);
      }

      &::before,
      &::after {
        will-change: transform;
        position: absolute;
        content: "";
        top: 0;
        z-index: 1;
        border-color: var(--bg-button);
      }

      &::before {
        width: 100%;
        height: 100%;
        left: 0;
        border-left: var(--bg-button) 48px solid;
        animation: blink-button 3s infinite ease;
      }

      &::after {
        width: 120%;
        height: 120%;
        left: 58px;
        border-left: var(--bg-button) 24px solid;
        animation: blink-button 3s infinite ease;
      }
    }

    [data-style="hyper-button"].hover {
      --color-gradient-for-hyperbutton_start: #1f1f1fff;
      --color-gradient-for-hyperbutton_end: #1f1f1fff;
    }

    button[theme-color] {
      .btn-icon {
        &::before {
          transform: translate(20%, -50%);
          background-image: url(../../assets/icon/nav_site.moon.svg);
        }
      }
    }

    button[theme-color].hover {
      .btn-icon {
        border-color: var(--palette-color-tc_hover) !important;
        box-shadow: 0px 0px 10px 0px #ffffff40;

        &::before {
          border-color: var(--palette-color-tc_hover) !important;
        }
      }
    }

    [data-style="on-hover"] {
      opacity: 0.8;
      transition: 0.3s ease;
    }

    [data-style="on-hover"].hover {
      opacity: 1;
    }
  }
}

html[cross-browser][data-theme-color="white"] {
  body {
    background: var(--main-bg);
    color: var(--palette-nav-text);
    --main-bg: var(--palette-main);
    --bg-card: var(--palette-second);
    --bg-form: var(--palette-second);
    --bg-nav: var(--palette-nav-text);
    --color-headline: var(--palette-nav-text);
    --color-link: var(--palette-nav-text);
    --hover-link: var(--palette-shadow);
    --border-button: var(--palette-acient);
    --bg-button: var(--palette-custom);
    --color-button: var(--palette-text-inv);

    [data-style="button"] {
      background: var(--color-button) !important;
      color: var(--color-button) !important;
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      border: var(--border-button) 2px solid;
    }

    [data-style="inv-button"] {
      background: var(--border-button) !important;
      color: var(--color-button) !important;
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      border: var(--border-button) 2px solid;
    }

    [data-style="link"] {
      background: none !important;
      color: var(--color-link);
      transition: 0.3s ease-in-out;
      font-weight: normal;
      border: none;
      text-decoration: underline;

      &:hover {
        color: var(--palette-acient);
      }
    }

    [data-style="hyper-button"] {
      display: inline-block;
      text-transform: uppercase;
      will-change: transform;
      background: var(--border-button) !important;
      color: var(--color-button) !important;
      border: var(--border-button) 2px solid;
      font-weight: 700;
      padding: 12.5px 60px;
      transition: 0.3s ease;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      z-index: 2;

      & span {
        position: relative;
        z-index: 2;
        color: var(--color-button);
      }

      &::before,
      &::after {
        will-change: transform;
        position: absolute;
        content: "";
        top: 0;
        z-index: 1;
        border-color: var(--bg-button);
      }

      &::before {
        width: 100%;
        height: 100%;
        left: 0;
        border-left: var(--bg-button) 48px solid;
        animation: blink-button 3s infinite ease;
      }

      &::after {
        width: 120%;
        height: 120%;
        left: 58px;
        border-left: var(--bg-button) 24px solid;
        animation: blink-button 3s infinite ease;
      }

      &:hover {
        background: var(--palette-nav-text);
      }
    }

    button[theme-color] {
      .btn-icon {
        &::before {
          transform: translate(180%, -50%);
          background-image: url(../../assets/icon/nav_site.sun.svg);
        }
      }
    }

    button[theme-color].hover {
      .btn-icon {
        border-color: var(--palette-color-tc_hover) !important;
        box-shadow: 0px 0px 10px 0px #ffffff40;

        &::before {
          border-color: var(--palette-color-tc_hover) !important;
        }
      }
    }
  }
}

/* main-layout */
html[cross-browser] {
  header[data-layout="header"] {
    z-index: 10;
    background: var(--palette-nav-site);
    padding: 5px 0px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    min-height: 37px;
    max-height: 37px;
    padding: 0px 10px;

    nav.__container[data-layout="navbar-site"] {
      display: flex;
      flex-direction: row;
      max-width: 1440px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .l_block {
        display: flex;
        flex-direction: row;
        gap: 15px;

        a[logo] {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 19px;
          height: 19px;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url();
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../../assets/icon/logo.webp);
            width: 19px;
            height: 19px;
          }
        }

        button {
          border: none;
          background: none;
          color: var(--palette-text-inv);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: auto;

          &:nth-child(3) {
            margin-left: 15px;
          }

          [title="arrow"] {
            position: absolute;
            transform: translate(200%, -50%) rotate(-90deg);
            top: 50%;
            right: 0;
            font-size: var(--fs-h3);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
          }
        }

        button.active {
          opacity: 1;

          [title="arrow"] {
            transform: translate(200%, -50%) rotate(90deg);
          }
        }
      }

      .r-block {
        display: flex;
        flex-direction: row;
        gap: 15px;

        a[help],
        a[login-async],
        a[register-async] {
          background: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          color: var(--palette-text-inv);

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-120%, -50%);
            width: 14px;
            height: 14px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        a[help] {
          &::after {
            background-image: url(../../assets/icon/nav_site.help.svg);
            filter: invert(1);
          }
        }

        a[login-async] {
          margin-left: 15px;

          &::after {
            background-image: url(../../assets/icon/nav_site.enter.svg);
            filter: invert(1);
          }
        }

        a[register-async] {
          margin-left: 15px;

          &::after {
            background-image: url(../../assets/icon/nav_site.reg.svg);
            filter: invert(1);
          }
        }

        button[js-window-profile-btn] {
          background: var(--palette-nav-site);
          border: none;
          position: relative;
          color: var(--palette-text-shadow);
          opacity: 1;
          font-size: var(--fs-p);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 37px;
          width: 100%;
          transition: .3s ease;
          padding-right: 1.5px;
          padding-left: 1.5px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          &::after {
            position: relative;
            content: "›";
            width: 14px;
            height: 14px;
            color: var(--palette-text-inv);
            transform: rotate(90deg);
            font-size: var(--fs-h3);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
            margin-left: 5px;
          }

          &::before {
            position: relative;
            content: "";
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../../assets/icon/profile.user-name.svg);
            width: 14px;
            height: 14px;
            filter: invert(1);
            margin-right: 5px;
            transition: .3s ease;
          }
        }

        button[js-window-profile-btn].hover {
          color: var(--palette-text-inv);
        }

        button[js-window-profile-btn].active {
          border-left: var(--palette-acient) 2px solid;
          border-right: var(--palette-acient) 2px solid;
          border-top: var(--palette-acient) 2px solid;
          border-bottom: var(--palette-nav-site) 2px solid;
          z-index: 17;
          color: var(--palette-text-inv);

          &::after {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  main[data-layout="main"][role="main"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    .__container {
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      justify-content: center;
      align-items: center;
    }
  }

  footer[data-layout="footer"] {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 37px;
    max-height: 37px;
    background: var(--palette-nav-site);
    padding: 0px 10px;

    .__container {
      display: flex;
      flex-direction: row;
      max-width: 1440px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .l_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        a {
          font-size: calc(0.95 * var(--fs-small));
          text-transform: uppercase;
          color: var(--palette-text-inv);

          &:not([documents]) {
            display: block;
          }
        }

        [documents] {
          display: none;
        }
      }

      .r_block {
        --async-color-hover: var(--palette-text-shadow);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        position: relative;

        button[js-window-btn-preference] {
          background: none;
          border: none;
          width: 19px;
          height: 19px;
          mask-position: center;
          mask-size: cover;
          mask-repeat: no-repeat;
          mask-image: url(../../assets/icon/settings-icon.svg);
          background-color: var(--async-color-hover);
          transition: .3s ease;
        }

        button[js-window-btn-preference].hover {
          --async-color-hover: var(--palette-text-inv);
        }

        button[js-window-btn-preference].active {
          --async-color-hover: var(--palette-text-inv);
          animation: active_btn_click 0.3s ease;
        }

        & a,
        span {
          font-size: calc(0.95 * var(--fs-small));
          text-transform: uppercase;
          color: var(--palette-text-inv);
        }

        .js-window[js-window-menu-footer-site] {
          position: fixed;
          bottom: 37px;
          right: 6px;
          display: flex;
          flex-direction: column;
          padding-block: 20px;
          padding-inline: 40px;
          border-radius: 8px;
          border: var(--palette-acient) 2px solid;
          background: var(--palette-main);
          transition: .4s ease;

          .description {
            display: flex;
            width: 100%;
            gap: 10px;
            flex-direction: column;
            align-items: flex-start;

            h3 {
              font-size: var(--fs-h2);
              width: 100%;
              text-align: center;
            }

            button[lang] {
              color: var(--async-color-hover);
              background: none;
              border: none;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              font-size: var(--fs-btn);
              position: relative;
              transition: .3s ease;
              font-weight: 700;
              line-height: 1.7px;

              &::after {
                content: "";
                display: inline-block;
                margin-left: 5px;
                width: 19px;
                height: 19px;
                background-image: url(../../assets/icon/footer_site.ru-fg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }
            }

            button[theme-color] {
              width: auto;
              height: auto;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background: none;
              color: var(--async-color-hover);
              transition: .3s ease;
              text-transform: uppercase;
              font-size: var(--fs-btn);
              line-height: 1.7px;
              font-weight: 700;
              border: none;

              .btn-icon {
                margin-left: 5px;
                display: inline-block;
                --btn-size-tc: 19px;
                background: var(--palette-main);
                border: 1px solid var(--palette-color-tc);
                height: calc(1.1 * var(--btn-size-tc));
                width: calc(2.2 * var(--btn-size-tc));
                border-radius: 10em;
                position: relative;
                transition: 0.4s ease;

                &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  left: 0;
                  width: 14px;
                  height: 14px;
                  border: 1px solid var(--palette-color-tc);
                  border-radius: 10em;
                  transition: 0.4s ease;
                  will-change: trasform;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              }
            }

            [time-for-prime] {
              font-weight: 700;
              font-size: var(--fs-btn);
              color: var(--async-color-hover);
              transition: .3s ease;
            }

            button[animations-preference] {
              background: none;
              border: none;
              color: var(--async-color-hover);
              font-size: var(--fs-btn);
              text-transform: uppercase;
              font-weight: 700;
              transition: .3s ease;
              position: relative;

              &::after {
                position: relative;
                display: inline-block;
                content: "›";
                margin-left: 5px;
                font-weight: 700;
                font-size: var(--fs-btn);
                transform: translateY(-1px) rotate(90deg);
                transition: .3s ease;
              }
            }

            div[js-window-anim-pref] {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 5px;
              overflow: hidden;
              transition: .4s ease;

              button {
                background: none;
                border: none;
                color: var(--async-color-hover);
                font-weight: 700;
                text-transform: uppercase;
              }

              button.hover {
                --async-color-hover: var(--palette-text-inv);
              }
            }

            div[js-window-anim-pref].hidden {
              opacity: 0;
              height: 0;
              visibility: hidden;
            }

            div[js-window-anim-pref].visible {
              opacity: 1;
              height: calc(3 * calc(var(--fs-btn) + 5px));
              visibility: visible;
            }

            [time-for-prime].hover {
              --async-color-hover: var(--palette-text-inv);
            }

            button.hover {
              --async-color-hover: var(--palette-text-inv);
            }

            [js-window-anim-pref] {
              display: flex;
              flex-direction: column;
            }
          }
        }

        .js-window[js-window-menu-footer-site].hidden {
          opacity: 0;
          visibility: hidden;
          transform: translate(100%, 100%);
        }

        .js-window[js-window-menu-footer-site].visible {
          opacity: 1;
          visibility: visible;
          transform: translate(0%, 0%);
        }
      }
    }
  }
}

/* err-w */
html[cross-browser] {
  [js-window-err_w] {
    position: fixed;
    transition: .3s ease;
    inset: 0;
    z-index: 15;
    background: #19191960;
    display: flex;
    justify-content: center;
    align-items: center;

    .description {
      --err_w-color: #FF8C00;
      transition: .3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;
      position: relative;
      background: var(--palette-main);
      min-width: 225px;
      width: clamp(14.0625rem, 12.037rem + 10.8025vw, 25rem);
      max-width: 400px;
      min-height: 135px;
      height: clamp(8.4375rem, 7.1065rem + 7.0988vw, 15.625rem);
      max-height: 250px;
      border: 2px solid var(--err_w-color);
      border-radius: 8px;
      padding: 25px;
      z-index: 17;

      [close-btn-err_w] {
        position: absolute;
        font-size: calc(1.2 * var(--fs-h1));
        color: var(--palette-text-inv);
        background: none;
        border: none;
        right: 0;
        top: 0;
        transform: translate(-50%, 0%);
        transition: .3s ease;
        opacity: .7;
      }

      [close-btn-err_w].hover {
        opacity: 1;
      }

      .desc {
        text-align: center;
        color: var(--palette-text-shadow);
        transition: .3s ease;
      }
    }

    .description.hover {
      --error-message-form: #fff;
      --err_w-color: #FF6347;
      box-shadow: 0px 0px 10px 0px var(--err_w-color);

      .desc {
        color: var(--palette-text-inv);
      }
    }
  }

  .js-window[js-window-err_w].hidden {
    opacity: 0;
    visibility: hidden;
  }

  .js-window[js-window-err_w].visible {
    opacity: 1;
    visibility: visible;
  }
}

/* profile-app  */
html[cross-browser] {
  .js-window[js-window-profile] {
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;

    .description {
      position: absolute;
      top: 35px;
      right: 10px;
      display: flex;
      flex-direction: column;
      max-width: 615px;
      width: clamp(15.625rem, 11.4005rem + 22.5309vw, 38.4375rem);
      min-width: 250px;
      max-height: 335px;
      background: var(--palette-nav-site);
      border: 2px solid var(--palette-acient);
      border-radius: 8px;
      justify-content: space-between;
      z-index: 16;
      overflow: hidden;
      transition: .3s ease;

      .block {
        display: flex;
      }

      .block.header {
        width: 100%;
        padding: 10px 15px;
        border-bottom: var(--palette-acient) 1px solid;

        h2 {
          font-weight: 400;
          letter-spacing: 2px;
        }
      }

      .block.body {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 10px 15px;

        .l_block {
          display: flex;
          width: 35%;

          img {
            width: 100%;
            object-fit: contain;
            transition: .3s ease;
          }

          img.hover {
            transform: scale(1.025);
          }
        }

        .r_block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 65%;

          .header-block {
            padding-top: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            h2 {
              font-size: calc(0.9 * var(--fs-h2));
              transition: .3s ease;

              span {
                --lights: #ffd23f;
                font-size: calc(var(--fs-h2) * 1.2);
                color: var(--lights);
                text-shadow: 0px 0px 20px;
                transition: .3s ease;
              }
            }

            h2.hover {
              text-shadow: 0px 0px 20px;
              transform: scale(1.025);
            }
          }

          .body-block {
            display: flex;
            width: 100%;
            padding-bottom: 25px;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: space-evenly;

            button {
              background: none;
              color: var(--palette-text-shadow);
              border: none;
            }

            [notify] {}

            [prime-time] {}

            [help] {}
          }

          .footer-block {
            display: flex;
            justify-content: space-between;
            padding-inline: 5px;
            width: 100%;
            flex-wrap: wrap;

            [el="stocks"] {
              display: contents;
              --async-color: var(--palette-text-shadow);
              color: var(--async-color);
              font-size: calc(0.85 * var(--fs-small));
              font-weight: normal;
              position: relative;
              transition: .3s ease;

              &::before {
                position: absolute;
                content: "";
                width: 0;
                height: 1px;
                bottom: -1px;
                left: 0;
                background-color: var(--async-color);
                transition: .3s ease;
              }
            }

            [el="stocks"].hover {
              --async-color: var(--palette-text-inv);

              &::before {
                width: 100%;
              }
            }

            .n_confirm {
              --not-allowed: #ffd23f;

              button {
                font-size: calc(0.85 * var(--fs-small));
                color: var(--not-allowed);
                margin-right: 15px;
                position: relative;
                transition: .3s ease;
                background: none;
                border: none;

                &::after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  right: 0;
                  width: 0px;
                  transition: .3s ease;
                  height: 1px;
                  background-color: var(--not-allowed);
                  transform: translate(0, 0);
                  border-radius: 8px;
                }

                &::before {
                  position: absolute;
                  content: "";
                  right: 0;
                  top: 50%;
                  transform: translate(115%, -60%);
                  background-color: var(--not-allowed);
                  width: 17px;
                  height: 17px;
                  mask: url(../../assets/icon/profile.mail_n_confirm.svg) center / cover no-repeat;
                  -webkit-mask: url(../../assets/icon/profile.mail_n_confirm.svg) center / cover no-repeat;
                  transition: .3s ease;
                }
              }

              button.locked {
                pointer-events: none !important;
                opacity: 0.6;
              }

              button.hover {
                --not-allowed: #ffca1d;
                transform: scale(1.025);

                &::after {
                  width: 100%;
                  transform: translate(0, 0);
                }
              }

              button.locked.hover {
                --not-allowed: #ffd23f;
                transform: scale(1.0) !important;

                &::after {
                  width: 0 !important;
                }
              }
            }

            .confirm {
              [el="confirm_email"] {
                --allowed: #1E7F34;
                display: block;
                background-color: var(--allowed);
                mask: url(../../assets/icon/profile.mail_confirm.svg) center / cover no-repeat;
                -webkit-mask: url(../../assets/icon/profile.mail_confirm.svg) center / cover no-repeat;
                transition: .3s ease;
                width: 17px;
                height: 17px;
              }

              [el="confirm_email"].hover {
                --allowed: #2ECC71;
                transform: scale(1.05);
              }
            }
          }
        }
      }

      .block.footer {
        border-top: var(--palette-acient) 1px solid;
        padding: 10px 15px;
        justify-content: space-between;

        .l_block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .link {
            display: block;
            background: none;
            color: var(--palette-acient);
            transition: var(--transition-time);
            font-weight: normal;
            border: none;
            text-decoration: none;
            word-spacing: nowrap;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 19px;
              height: 19px;
              top: 50%;
              left: 100%;
              transform: translate(6%, -50%);
              background-color: var(--palette-acient);
              mask: url(../../assets/icon/link.icon-cube.svg) center/cover no-repeat;
              -webkit-mask: url(../../assets/icon/link.icon-cube.svg) center/cover no-repeat;
              transition: var(--transition-time);
              /* cube */
            }

            &::before {
              content: "";
              position: absolute;
              width: 19px;
              height: 19px;
              top: 50%;
              right: 0;
              transform: translate(110%, -50%);
              background-color: var(--palette-acient);
              mask: url(../../assets/icon/link.icon-arrow.svg) center/cover no-repeat;
              -webkit-mask: url(../../assets/icon/link.icon-arrow.svg) center/cover no-repeat;
              transition: var(--transition-time);
              /* arrow */
            }
          }

          .link.hover {
            color: var(--palette-custom);

            &::after {
              background: var(--palette-custom);
            }

            &::before {
              transform: translate(120%, -60%);
              background-color: var(--palette-custom);
            }
          }
        }

        .r_block {
          display: flex;
          height: 100%;
          align-items: flex-end;

          .logout-form {
            .logout-btn {
              background: none;
              color: var(--palette-text-shadow);
              border: none;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: .3s ease;

              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-110%, -50%);
                background-color: var(--palette-text-shadow);
                mask: url(../../assets/icon/js-window.profile.leave.svg) center/cover no-repeat;
                -webkit-mask: url(../../assets/icon/js-window.profile.leave.svg) center/cover no-repeat;
                width: 19px;
                height: 19px;
                transition: .3s ease;
              }
            }

            .logout-btn.hover {
              color: var(--palette-text-inv);

              &::before {
                background-color: var(--palette-text-inv);
              }
            }
          }
        }
      }
    }

    .description.hover {
      box-shadow: 0px 5px 10px 2px var(--palette-acient);
    }
  }

  .js-window[js-window-profile].hidden {
    opacity: 0;
    visibility: hidden;

    .description {
      height: 0px;
    }
  }

  .js-window[js-window-profile].visible {
    opacity: 1;
    visibility: visible;

    .description {
      height: 50%;
    }
  }
}

@media screen and (max-width: 1460px) {
  html[cross-browser] {
    & .js-window[js-window-profile] {
      .description {
        right: 9px;
        border-top-right-radius: 0px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  html[cross-browser] {
    .js-window[js-window-profile] {
      .description {
        right: 3vw;
        max-height: 350px;
      }
    }
  }
}

/* send-email */
html[cross-browser] {
  .js-window[js-window-send-confirmation-email] {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    background: #19191990;

    .description {
      --pre-hover: #1E7F34;
      --async-color: var(--palette-text-shadow);
      background: var(--palette-main);
      padding: 60px 40px 30px 40px;
      border-radius: 8px;
      border: 2px solid var(--pre-hover);
      transition: .3s ease;

      h2 {
        display: flex;
        width: 100%;
        margin-bottom: 50px;
        position: relative;
        color: var(--pre-hover);
        transition: .3s ease;

        &::after {
          content: "";
          position: absolute;
          transition: .3s ease;
          width: 52px;
          height: 52px;
          background-color: var(--pre-hover);
          top: -24.5px;
          left: 50%;
          transform: translate(-50%, -50%);
          mask: url(../../assets/icon/mail.unread-msg.svg) center/cover no-repeat;
          -webkit-mask: url(../../assets/icon/mail.unread-msg.svg) center/cover no-repeat;
        }

        &::before {
          content: "На вашу почту отправлено сообщение, с ссылкой на подтверждение";
          position: absolute;
          width: 100%;
          color: var(--async-color);
          font-size: calc(0.9 * var(--fs-small));
          bottom: -20px;
          left: 0;
          transform: translate(0, 50%);
          text-align: center;
          transition: .3s ease;
        }
      }
    }

    .description.hover {
      --async-color: var(--palette-text-inv);
      --pre-hover: #2ECC71;
      box-shadow: 0px 0px 10px 0px var(--pre-hover);
    }
  }

  .js-window[js-window-send-confirmation-email].hidden {
    opacity: 0;
    visibility: hidden;
  }

  .js-window[js-window-send-confirmation-email].visible {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blink-button {
  0% {
    border-color: var(--palette-custom);
    transform: translate(-87px) skew(-32deg, 0deg);
  }

  50%,
  100% {
    border-color: var(--palette-custom-second);
    transform: translate(110%) skew(-32deg, 0deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes active_btn_click {
  0% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@property --color-gradient-for-hyperbutton_start {
  syntax: "<color>";
  inherits: false;
  initial-value: #9780e5ff;
}

@property --color-gradient-for-hyperbutton_end {
  syntax: "<color>";
  inherits: false;
  initial-value: #da6ad0ff;
}

html,
body,
[custom-scroll] {
  scroll-behavior: smooth;
  --sb-track: var(--palette-main);
  --sb-thumb: var(--palette-acient);
  scrollbar-width: var(--sb-width);
  border-radius: var(--sb-radius);
  scrollbar-color: var(--sb-thumb) var(--sb-track);
}

::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
  width: var(--sb-width);
  height: var(--sb-width);
}

::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
  background: var(--sb-track);
}

::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: var(--sb-radius);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover,
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover);
}

::-webkit-scrollbar-thumb:active,
.custom-scroll::-webkit-scrollbar-thumb:active {
  transform: scale(1.02);
}

[clicable].hover,
.focus-visible {
  outline-offset: 2px;
}

[hidden="!"] {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
  opacity: 0 !important;
}

[js-load-page] {
  position: fixed;
  inset: 0;
  opacity: 1;
  z-index: 1000;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1f1f1f;

  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background: #ffd23f30;
    border: 2px #ffd23f solid;
    border-radius: 8px;
    padding: 10px;

    [js-bad-load] {
      width: 60px;
      height: 50px;
      --m: no-repeat linear-gradient(90deg, #000 70%, #0000 0);
      -webkit-mask:
        var(--m) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
        var(--m) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
        var(--m) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
        var(--m) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
        var(--m) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
      background: linear-gradient(#ffa216 0 0) left/0% 100% no-repeat #ddd;
      animation: load-not_conntecion 2s infinite steps(6);
    }

    article {
      color: #ffd23f;
      font-weight: 700;
      font-size: 20px;
    }
  }

  [js-loader] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .6s ease;
    width: 70px;
    aspect-ratio: 1;
    display: grid;

    &::before,
    &::after {
      content: "";
      grid-area: 1/1;
      --c: no-repeat radial-gradient(farthest-side, #9780e5 92%, #0000);
      background:
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
      background-size: 20px 20px;
      animation: load-main 1s infinite;
    }

    &::before {
      margin: 4px;
      filter: hue-rotate(45deg);
      background-size: 12px 12px;
      animation-timing-function: linear
    }
  }
}

@keyframes load-main {
  100% {
    transform: rotate(.5turn)
  }
}

@keyframes load-not_conntecion {
  100% {
    background-size: 120% 100%
  }
}

html[cross-browser] {
  header[data-layout="header"] {
    nav.__container[data-layout="navbar-site"] {
      .js-window[js-window-select-service] {
        --default-async-color-btn: var(--palette-text-shadow);
        --default-async-bg-mask: var(--palette-text-shadow);
        --default-active-color: var(--error-message-form-input);

        top: 37px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        background: var(--palette-nav-site);
        z-index: 20;
        flex-direction: column;
        position: fixed;
        transition: .4s ease-in-out;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          background-image: var(--window-bg, none);
          z-index: -1;
          opacity: 0.7;
        }

        .top-block {
          display: flex;
          flex-wrap: wrap;
          max-width: 1440px;
          width: 100%;
          padding-block: 20px;
          padding-inline: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-evenly;
          background-color: #19191940;

          button {
            flex-direction: column;
            align-items: center;
            display: inline-flex;
            margin-left: 0;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            font-size: calc(var(--fs-btn) * 0.8);
            letter-spacing: 1px;
            color: var(--default-async-color-btn);
            transition: .4s ease;

            &::before {
              margin-bottom: 10px;
              content: "";
              width: 32px;
              height: 32px;
              mask-position: center;
              mask-size: cover;
              mask-repeat: no-repeat;
              background-color: var(--default-async-bg-mask);
              transition: .4s ease;
            }
          }

          button.hover {
            --default-async-color-btn: var(--palette-text-inv);
            --default-async-bg-mask: var(--palette-text-inv);
          }

          button.active {
            opacity: 0.8;
            --default-async-color-btn: var(--default-active-color);
            --default-async-bg-mask: var(--default-active-color);
          }

          button.active.hover {
            opacity: 1;
            --default-async-color-btn: var(--default-active-color);
            --default-async-bg-mask: var(--default-active-color);
          }

          button[js-service-prime-store] {
            &::before {
              mask-image: url(../../assets/icon/canvas.stie.service-prime-shop.svg);
            }
          }

          button[js-service-prime-store] {
            &::before {
              mask-image: url(../../assets/icon/canvas.stie.service-prime-shop.svg);
            }
          }
        }

        .bottom-block {
          max-width: 1440px;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-items: stretch;
          gap: 25px;
          padding-block: 20px;
          padding-inline: 20px;
          background-color: #19191940;

          .first-block {
            max-height: 100px;
            height: 25vh;
            max-width: 100px;
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;

            img {
              max-height: 100px;
              height: 25vh;
              max-width: 100px;
              display: flex;
              object-fit: cover;
            }

          }

          .second-block {
            max-width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              text-transform: uppercase;
              font-weight: 700;
              font-size: calc(var(--fs-h2) * 0.9);
            }

            p {
              font-size: var(--fs-small);
              color: var(--palette-text-shadow);
            }
          }

          .third-block {
            display: flex;
            flex-direction: column;
            gap: 7.5px;
            max-width: 200px;
            align-items: start;
            justify-content: start;
          }
        }
      }

      .js-window[js-window-select-service].hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-110%);
      }

      .js-window[js-window-select-service].visible {
        opacity: 1;
        visibility: visible;
        transform: translate(0%);
      }
    }
  }
}

html[cross-browser] {
  header[data-layout="header"] {
    nav.__container[data-layout="navbar-site"] {
      .js-window[js-window-select-app] {
        --default-async-color-btn: var(--palette-text-shadow);
        --default-async-bg-mask: var(--palette-text-shadow);
        --default-active-color: var(--error-message-form-input);

        top: 37px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        background: var(--palette-nav-site);
        z-index: 20;
        flex-direction: column;
        position: fixed;
        transition: .4s ease-in-out;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          background-image: var(--window-bg, none);
          z-index: -1;
          opacity: 0.7;
        }

        .top-block {
          display: flex;
          flex-wrap: wrap;
          max-width: 1440px;
          width: 100%;
          padding-block: 20px;
          padding-inline: 10px;
          gap: 10px;
          align-items: center;
          justify-content: space-evenly;
          background-color: #19191940;

          button {
            flex-direction: column;
            align-items: center;
            display: inline-flex;
            margin-left: 0;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            font-size: calc(var(--fs-btn) * 0.8);
            letter-spacing: 1px;
            color: var(--default-async-color-btn);
            transition: .4s ease;

            &::before {
              margin-bottom: 10px;
              content: "";
              width: 32px;
              height: 32px;
              mask-position: center;
              mask-size: cover;
              mask-repeat: no-repeat;
              background-color: var(--default-async-bg-mask);
              transition: .4s ease;
            }
          }

          button.hover {
            --default-async-color-btn: var(--palette-text-inv);
            --default-async-bg-mask: var(--palette-text-inv);
          }

          button.active {
            opacity: 0.8;
            --default-async-color-btn: var(--default-active-color);
            --default-async-bg-mask: var(--default-active-color);
          }

          button.active.hover {
            opacity: 1;
            --default-async-color-btn: var(--default-active-color);
            --default-async-bg-mask: var(--default-active-color);
          }

          button[js-app-create-site] {
            &::before {
              mask-image: url(../../assets/icon/canvas.site.app-create-site-main.svg);
            }
          }

          button[js-app-shedule] {
            &::before {
              mask-image: url(../../assets/icon/canvas.site.app-shedule-main.svg);
            }
          }

          button[js-app-course-work] {
            &::before {
              mask-image: url(../../assets/icon/canvas.site.app-course-work-main.svg);
            }
          }

          button[js-app-ai] {
            &::before {
              mask-image: url(../../assets/icon/canvas.stie.app-create-site.svg);
            }
          }

          button[js-app-library] {
            &::before {
              mask-image: url(../../assets/icon/canvas.site.app-library-main.svg);
            }
          }

          button.active[js-app-course-work] {
            &::before {
              mask-image: url(../../assets/icon/canvas.site.app-course-work-active.svg);
            }
          }
        }
      }

      .bottom-block {
        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 25px;
        padding-block: 20px;
        padding-inline: 20px;
        background-color: #19191940;

        .first-block {
          max-height: 100px;
          height: 25vh;
          max-width: 100px;
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;

          img {
            max-height: 100px;
            height: 25vh;
            max-width: 100px;
            display: flex;
            object-fit: cover;
          }

        }

        .second-block {
          max-width: 300px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: calc(var(--fs-h2) * 0.9);
          }

          p {
            font-size: var(--fs-small);
            color: var(--palette-text-shadow);
          }
        }

        .third-block {
          display: flex;
          flex-direction: column;
          gap: 7.5px;
          max-width: 200px;
          align-items: start;
          justify-content: start;
        }
      }
    }

    .js-window[js-window-select-app].hidden {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-110%);
    }

    .js-window[js-window-select-app].visible {
      opacity: 1;
      visibility: visible;
      transform: translate(0%);
    }
  }
}


@media screen and (max-width: 560px) {
  html[cross-browser] {
    & footer[data-layout="footer"] {
      & .__container {
        & .l_block {
          & a {
            &:not([documents]) {
              display: none;
            }
          }

          [documents] {
            display: block;
          }
        }
      }
    }
  }
}